.row{
    
    margin: 50px auto auto auto;
}


h1{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 2em;
    margin: 0.67em 0;
    
}

h1 .small, h1 small{
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    color: #777;
}

p{
    text-align: justify;
    text-justify: inter-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

@media screen and (min-height: 1000px) {
 
        .diseng{
            z-index: 1;
            position: relative;
            background: #FFFFFF;
            height: 400px; 
            width: 860px;
            
        }  
    
}

.image-responsive {
    margin: 50px auto auto 30px ;
}