<div class="container-fluid mb-6">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="diseng">
                    <h1 class="titulo mb-6">Plussigner <small class="p"> Documento v.1.0.0</small></h1>
                    <p>
    
                        Cloud SAETA es sencillo porque ofrece una sola solución para compartir documentos de forma segura
                        que es
                        fácil de utilizar y que facilita la colaboración, salvando las diferencias entre los requisitos de
                        la
                        empresa y las necesidades de los usuarios. Este sistema permitirá la entrega de un documento con
                        firmado
                        digital. 
                    </p>
    
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center">
                    <img src="assets/img/bienvenido.png" class="image-responsive" width="250" height="300">
                </div>
            </div>
        </div>
    </div>
</div>