.card{
    border: 1px solid #075DAA;
}

.card-header{
    background-color: #075DAA;
}
  
i {
  font-size: 40px;
  color: aliceblue;
  background-size: cover;
  margin-top: 2px;
}

h1{
    color: white;
    font-size: 35px;
}